<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="best_selling_products" class="BestSellers\Loop\BestSellerLoop" />
        <loop name="purchased_with_products" class="BestSellers\Loop\PurchasedWithLoop" />
    </loops>

    <services>
        <service id="best_sellers.event_listener" class="BestSellers\EventListeners\EventManager">
            <argument id="thelia.cache" type="service"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
