{$maxProducts = 4}
{$productCount = 0}
{$exclude_list = $product_id}
{$padWithRandomProducts = true}

{ifloop rel="purchased-with"}
<article class="grid">
    <div class="products-content">
        <ul class="list-unstyled row">
            {loop name="purchased-with" type="purchased_with_products" product_ref=$product_ref limit=$productCount order="sold_count_reverse"}
                {loop type="product" name="product_list" ref=$PRODUCT_REF}
                    {include file="includes/single-product.html" product_id=$ID hasBtn=true hasDescription=false hasQuickView=false width="218" height="146"}
                    {$exclude_list = "{$exclude_list},$ID"}
                    {$productCount = $productCount + 1}
                {/loop}
            {/loop}

            {if $padWithRandomProducts && $productCount < $maxProducts}
                {loop type="product" name="other-products" limit={$maxProducts - $productCount} category=$DEFAULT_CATEGORY order="random" exclude=$exclude_list}
            {include file="includes/single-product.html" product_id=$ID hasBtn=true hasDescription=false hasQuickView=false width="218" height="146"}                {/loop}
            {/if}
        </ul>
    </div>
</article>
{/ifloop}
